<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="admin.css" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/> <!--Sử dụng các icon-->
<!--/thêm nguoidung vao admin-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="admin.js"></script>
    <!--/thêm nguoidung vao admin-->
</head>
</head>
<body>

    <section id="menu">
        <div class="logo">
            <img src="images/trainlogo.png" alt=""/>
            <h2>Quản lí ga tàu</h2>
        </div>

        <div class="items">
            <li><i class="fas fa-home"></i><a href="#">Trang chủ</a></li>
            <li><i class="fas solid fa-list"></i><a href="#">Danh sách vé</a></li>
            <li><i class="fas solid fa-book"></i><a href="#">Thông tin đặt</a></li>
            <li><i class="fas sharp fa-solid fa-calendar-week"></i><a href="#">Quản lí lịch trình</a></li>
            <li><i class="fas solid fa-user"></i><a href="#">Tài khoản</a></li>
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Tìm kiếm">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                <img src="images/user.png" alt="">
                <span class="admin-text">Admin</span>
            </div>
        </div>

        <h3 class="i-name">
            Quản lí ga tàu: Nhóm 28
        </h3>

        <div class="values">
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div>
                    <h3>N21DCCN002</h3>
                    <span>Trần Kim An</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div>
                    <h3>N21DCCN020</h3>
                    <span>Nguyễn Văn Dũng</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div>
                    <h3>N21DCCN034</h3>
                    <span>Nguyễn Minh Hoàng</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div>
                    <h3>N21DCCN054</h3>
                    <span>Phạm Đình Nam</span>
                </div>
            </div>
        </div>

        <!--Tải dữ liệu lên-->


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="./dataUser.js"></script>
        
<!--////////////////////////////////////////////////////////////////////////////-->


<div class="records">
<div class="record-header">
    <div class="add">
        <span>Tài khoản User:</span>
        <button>Thêm người quản lí</button>
    </div>

    <div class="browse">
        <!--<i class="fas fa-search"></i>
        <input type="search" placeholder="Tìm kiếm" class="record-search">-->
        <div class="search1">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Tìm kiếm">
        </div>

        <select name="" id="">
            <option value="">Status</option>
        </select>
    </div>
</div>
</div>
<!--////////-->
<!--
    <table class="table">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">CMND</th>
            <th scope="col">Address</th>
            <th scope="col">Gender</th>
            <th scope="col">Manage</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < user.length; i++) { %>
            <tr>
              <td><%= user[i].firstName %></td>
              <td><%= user[i].lastName %></td>
              <td><%= user[i].phoneNumber %></td>
              <td><%= user[i].email %></td>
              <td><%= user[i].CMND %></td>
              <td><%= user[i].address %></td>
              <td><%= user[i].gender %></td>
              <td> <div class="button-container">
                <a href="/editUser?id=<%=user[i].id %>" class="edit-button" type="button">Edit</a>
                <a href="/post-delete?id=<%=user[i].id %>" class="delete-button" type="button">Delete</a>
              </div></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      
      <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        table th, .table td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }
        
        table th {
          background-color: #f2f2f2;
        }
        .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: auto;
}

.edit-button,
.delete-button {
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button {
  background-color: #6ab04c;
}

.delete-button {
  background-color: #dc3545;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}
        </style>
        -->
    </section>
    
    
</body>
</html>