<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="admin.css" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/> <!--Sử dụng các icon-->
</head>
<body>

    <section id="menu">
        <div class="logo">
            <img src="images/trainlogo.png" alt=""/>
            <h2>Quản lí ga tàu</h2>
        </div>

        <div class="items">
            <li><i class="fas fa-home"></i><a href="#">Trang chủ</a></li>
            <li><i class="fas solid fa-list"></i><a href="#">Danh sách vé</a></li>
            <li><i class="fas solid fa-book"></i><a href="#">Thông tin đặt</a></li>
            <li><i class="fas sharp fa-solid fa-calendar-week"></i><a href="#">Quản lí lịch trình</a></li>
            <li><i class="fas solid fa-user"></i><a href="#">Tài khoản</a></li>
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Tìm kiếm">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                <img src="images/user.png" alt="">
                <span class="admin-text">Admin</span>
            </div>
        </div>

        <h3 class="i-name">
            Quản lí ga tàu: Nhóm 28
        </h3>

        <div class="values">
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div>
                    <h3>N21DCCN002</h3>
                    <span>Trần Kim An</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div>
                    <h3>N21DCCN020</h3>
                    <span>Nguyễn Văn Dũng</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div>
                    <h3>N21DCCN034</h3>
                    <span>Nguyễn Minh Hoàng</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-user"></i>
                <div>
                    <h3>N21DCCN054</h3>
                    <span>Phạm Đình Nam</span>
                </div>
            </div>
        </div>

    </section>
    
</body>
</html>