* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background-color: #d6d6d6;
}


.nav-item {
	display: inline-block;
}

.nav-link {
	color: #fff;
}


:root {
	--maincolor: #014a9e;
}
.main-color-text{
	color: var(--maincolor);
}

.main-color-bg{
	background-color: var(--maincolor);
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}

header li a {
	text-transform: uppercase;
	font-size: 18px !important;
	color: #fff !important;
	font-weight: 600 !important;
}

header li:hover a {
	color: var(--maincolor) !important;
}

header > nav {
	background-color: #2727277d;
}

main {
    overflow: hidden;

}

.slider {
	height: 65vh;
	background-color: var(--maincolor);
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.booking-form {
	background-color: var(--maincolor);
	color: #fff;
	position: relative;
    border-top: 3px dashed #333;

}
.booking-form::after {
	display: inline-block;
	content: '';
	position: absolute;
	top: -24px;
	left: 0;
    z-index: 2;

	width:295px;
	height: 23px;
    background-image: url('../images/train-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: trainRun linear 14s infinite;
    /* background-color: #333; */
}
@keyframes trainRun {
    from {
        left: -295px;

    }
    to {
        left: calc(100% + 300px);
    }
}

.booking-form .hotline {
	padding: 6px 0;
	text-align: center;
}
.booking-form form {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.booking-form .hotline h3 {
	text-transform: uppercase;
	margin: 0;
}

.booking-form .hotline p {
	margin: 0;
}

.booking-form .form-child {
	width: 13%;
	display: inline-block;
}

.booking-form .form-child.day {
	background-color: #fff;
	color: #333;
	border-radius: 8px;
}

.booking-form .form-child input[type='date'] {
	border: none;
}

.booking-form .form-child.btn {
	width: 13%;
	display: inline-block;
	font-size: 20px;
	padding: 9px 0;
	font-weight: 600;
}

.form-child input {
	padding: 10px 16px;
	font-size: 18px;
}

.form-child input::placeholder {
	font-size: 18px;
	color: black;
}


.some-regulations .container{
	background-color: #fff;
}
.some-regulations .container .title{
	background-color: var(--maincolor);
	color: #fff;
}
/*Nơi đi*/

.autobox {
	position: absolute;
	top: 100%;
	background-color: #fff;
	width: 170px;
	background-color: rgba(221, 221, 221, 0.5);
	overflow-y: auto;
}
.autobox li {
	list-style: none;
	padding: 6px 0 6px 36px;
	cursor: pointer;
	color: #333;
	display: none;
}
.autobox li:hover {
	color: #8133e0;
}
.autobox.active li {
	display: block;
}

/*Nơi đến*/
.autobox2 {
	position: absolute;
	top: 100%;
	background-color: #fff;
	width: 170px;
	background-color: rgba(221, 221, 221, 0.5);
	overflow-y: auto;
}
.autobox2 li {
	list-style: none;
	padding: 6px 0 6px 36px;
	cursor: pointer;
	color: #333;
	display: none;
}
.autobox2 li:hover {
	color: #8133e0;
}
.autobox2.active li {
	display: block;
}